html {
    font-size: 10px;
    background: url('./animalcrossing.jpg') bottom center;
    background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.emotes {
  display: flex;
  flex: 1;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}

.emote {
  border: .4rem solid rgba(45, 204, 85, 0.8);
  border-radius: .5rem;
  margin: 1rem;
  font-size: 1.5rem;
  padding: 1rem .5rem;
  transition: all .07s ease;
  width: 10rem;
  text-align: center;
  color: white;
  background: rgba(130, 215, 151, 0.8);
  text-shadow: 0 0 .5rem black;
}
.playing {
  transform: scale(1.1);
  border-color: #A927F5;
  box-shadow: 0 0 1rem #A927F5;
}

kbd {
  display: block;
  font-size: 4rem;
}

.sound {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  color: black;
}